body {
  font-family: 'Gilmer', sans-serif;
}

#h1 {
  width: 153px;
  height: 26px;

  gap: 0px;
  opacity: 0px;
  font-family: Gilmer;
  font-size: 20px;
  font-weight: 'bold';
  line-height: 26.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

#p1 {
  width: 333px;
  height: 14px;

  gap: 0px;
  opacity: 0px;
  font-family: Gilmer;
  font-size: 12px;
  font-weight: regular;
  line-height: 14.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

#p2 {
  width: 346px;
  height: 42px;
  gap: 0px;
  opacity: 0px;
  font-family: Gilmer;
  font-size: 12px;
  font-weight: 'Regular';
  line-height: 14.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  margin: 0 auto;
  border-radius: 10px;
}

#logo {
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}
