#titleBioPage {
  width: 277px;
  height: 23px;

  gap: 0px;
  opacity: 0px;
  font-size: 19px;
}

.input {
  width: 80vw;
  height: 33px;
  top: 231px;
  left: 30px;
  gap: 0px;
  opacity: 0px;

  background-color: white;
  color: black;
  border-radius: 8px;
  outline: none;
  padding: 8px;
}

.textBio {
  width: 80vw;
  top: 231px;
  left: 30px;
  gap: 0px;
  opacity: 0px;

  background-color: white;
  color: black;
  border-radius: 8px;
  outline: none;
  padding: 8px;
}

.select {
  width: 40vw;
  height: 33px;
  top: 231px;
  left: 30px;
  gap: 0px;
  opacity: 0px;

  background-color: white;
  color: black;
  border-radius: 8px;
  outline: none;
  padding: 8px;
}

#logoBioPage {
  align-items: center;
  width: 70px;
  height: 60px;
  margin: 0 auto;
}
