@import "tailwindcss";


@theme screens: {
    --sm: 320px;
    --md: 375px;
    --lg: 414px;
}

@font-face {
    font-family: 'Gilmer';
    src: url('@fonts/Gilmer-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('@fonts/Gilmer-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    font-family: 'Gilmer', sans-serif;
    background: linear-gradient(180deg, #ff007a, #800040);
}


.container {
    width: 100%;
    height: calc(100vh - 16px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: opacity 0.1s ease-in-out;
}

.container .cards_container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container .cards_container .card_container {
    display: inline-block;
    width: 90vw;
    max-width: 400px;
    height: 70vh;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: grab;
}

.container .cards_container .moving.card_container {
    -webkit-transition: none;
    transition: none;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    max-width: 100vw;
    max-height: 100vh;
    background: linear-gradient(180deg, #ff007a, #800040);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*Css styled for carousel*/
.react-multi-carousel-dot button {
    background: white !important;
    border-color: transparent !important;
    width: 8px !important;
    height: 8px !important;
}

.react-multi-carousel-dot--active button {
    background: #ff017d !important;
}
