@font-face {
    font-family: 'Gilmer';
    src: url('./Gilmer-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilmer';
    src: url('./Gilmer-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'Gilmer', sans-serif;
  }
#h1{
    width: 153px;
    height: 26px;
    
    gap: 0px;
    opacity: 0px;
    font-family: Gilmer;
    font-size: 22px;
    font-weight: 'bold';
    line-height: 26.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
   
}

#p1{
    width: 333px;
    height: 14px;
    
    gap: 0px;
    opacity: 0px;
    font-family: Gilmer;
    font-size: 12px;
    font-weight: regular;
    line-height: 14.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

#p2{
    width: 346px;
    height: 42px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilmer ;
    font-size: 12px;
    font-weight: 'Regular';
    line-height: 14.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;    
}

#button {
    display: flex;
    justify-content: center; /* Centrare il bottone orizzontalmente */
    align-items: center;     /* Centrare il contenuto verticalmente, se necessario */
    height: 100px;           /* Imposta un'altezza più contenuta */
    width: 200px;            /* Imposta una larghezza */
    margin: 0 auto;          /* Centra il div orizzontalmente */ 
    border-radius: 10px;     /* Facoltativo, per bordi arrotondati */          /* Altezza del contenitore */
  }


#logo {
    align-items: center; 
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

